.togoal-Container {
    min-width: 700px;
    padding: 16px;

    .togoal-TrackingPeriod {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .togoal-MenuButtonContainer {
        margin-bottom: 8px;

        .togoal-MenuButton {
            margin-right: 8px;
        }
    }

    .togoal-AlertBar {
        margin-bottom: 8px;
    }

    .togoal-ProjectStatusesView {
        margin-bottom: 8px;

        .togoal-GoalInput {
            width: 50px;
        }

        .togoal-ProjectStatusesView-cell {
            padding: 4px;
        }
    }

    .togoal-TrackingPeriodInputContainer {
        .togoal-TrackingPeriodInputLabel {
            font-size: 16px;
        }

        .togoal-TrackingPeriodInput {
            margin-right: 16px;
        }
    }
}
